$primary-bg-color: #283149;
$secondary-bg-color: #3c415e;
$border-color: #404b69;
$detail-border-color: #002244;
$hover-border-color: white;
$border-radius: 5px;
$margin-bottom: 8px;
$padding: 5px;
$gap: 5px;
$button-bg-color: #333366;
$button-hover-bg-color: #555599;
$button-border-color: #555599;
$text-color: white;
$base-height: 602px;

.character-container {
  background-color: $primary-bg-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 10px; // Container margin, matching main
  text-shadow: 1.5px 1px #000;
  width: 600px;
  height: $base-height;
  position: relative; /* Ensure this is set */
  z-index: 10; /* Ensure this is higher than the button's z-index */
  padding: 0 10px;
}

// .character-container.chrome {
//   height: 490px;
// }

// .character-container.edge-chromium {
//   height: 490px;
// }

.info-box {
  background: lighten($secondary-bg-color, 10%);
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  text-align: center;
  height: 55px;
  z-index: 11; /* Ensure this is higher than the button's z-index */
  position: relative;
}

.editable-text {
  border-bottom: 1px solid transparent;
  color: white;
  cursor: text;
  display: inline-block;
  &:hover,
  &:focus {
    border-bottom: 1px solid $hover-border-color;
    outline: none;
  }
}

.bar-grid {
  display: grid;
  grid-template-columns: repeat(2, 4fr); // Adjust comment or remove it if it's a typo and should be repeat(2, 1fr)
  gap: $gap;
  margin-bottom: $margin-bottom;
}

.bar {
  align-items: center;
  background: #555;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
  font-size: 0.9em;

  &:before {
    background: linear-gradient(to right, var(--start-color), var(--end-color));
    border-radius: $border-radius;
    bottom: 0;
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    right: var(--bar-width);
    z-index: 1;
  }

  span {
    color: white;
    position: relative;
    z-index: 1;
  }
}

.stats-grid {
  position: relative; // This establishes a new stacking context
  z-index: 1; // You might adjust this based on other elements in your layout
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: $margin-bottom;
  padding: $padding;
}

.stat-box {
  background-color: lighten($secondary-bg-color, 10%);
  border: 1px solid $detail-border-color;
  border-radius: $border-radius;
  color: white;
  padding: $padding;
  text-align: center;
}

.full-stats-grid {
  position: relative; // This establishes a new stacking context
  z-index: 1; // You might adjust this based on other elements in your layout
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: $margin-bottom;
  padding: $padding;
}

.full-stat-box {
  background-color: lighten($secondary-bg-color, 10%);
  border: 1px solid $detail-border-color;
  border-radius: $border-radius;
  color: white;
  padding: $padding;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 0.7em;
}

.equipment-grid {
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(2, 1fr);
  padding: $padding;
  margin-bottom: $margin-bottom;
}

.equipment-slot-main {
  background: var(--slot-background, lighten($secondary-bg-color, 10%));
  border: 1px solid $detail-border-color;
  border-radius: $border-radius;
  color: var(--slot-color, white);
  opacity: var(--slot-opacity, 1);
  padding: $padding;
  text-align: center;
}

.equipment-effects {
  font-size: 0.7em;
  margin-left: 15px;
  margin-top: 5px;
}

.status-grid {
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping of items */
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: $gap; /* Maintains gap between items */
  padding: $padding;
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  height: auto; /* Allows height to adjust based on content */
  min-height: 78px; /* Sets a minimum height for the grid */
}

.status-box {
  background-color: lighten($secondary-bg-color, 10%);
  border: 1px solid $detail-border-color;
  border-radius: $border-radius;
  color: white;
  padding: 5px 10px; /* Smaller padding for compact look */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px; /* Sets a minimum width for each box */
  max-width: 120px; /* Optional: sets a maximum width for each box */
  text-align: center;
}

.status-content {
  display: flex;
  gap: 10px; /* Gap between icon and text */
}

.status-text {
  font-size: 0.8em; /* Smaller text size */
}

.status-duration {
  font-size: 0.6em; /* Smaller text size for duration */
}

.tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  max-width: 500px;
}

.status-tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  max-width: 500px;
  text-align: start;
}

.panel-button {
  background: $button-bg-color;
  border: 1px solid $button-border-color;
  color: $text-color;
  font: 1em MS Gothic;
  padding: $padding $padding;
  position: absolute;
  z-index: 100;
  top: calc($base-height - 41px);
  width: 105px;
}

.home-button {
  left: -1px;
  border-bottom-left-radius: 5px;
}

.equipment-button {
  left: calc(104px * 1 - 2px);
}

.tool-button {
  left: calc(104px * 2 - 3px);
}

.stats-button {
  left: calc(104px * 3 - 4px);
}

.skill-button {
  left: calc(104px * 4 - 4px);
}

.profession-button {
  left: calc(104px * 5 - 4px);
  border-bottom-right-radius: 5px;
}

/* Add hover effect for all buttons */
.panel-button:hover {
  background: $button-hover-bg-color;
}

.equipment-panel {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Allocate more space to the middle column */
  gap: 10px; /* Keeps a fixed gap between the columns */
  justify-content: center; /* Centers the columns if there is extra space */
  background-color: #50577d;
  height: 522px;
  border: 1px solid $border-color;
}

.equipment-silhouette {
  position: relative;
  width: 300px;
  height: 100%;
  background: url("../../assets/Man.png") no-repeat center center;
  background-size: cover;
  background-color: #3c415e;
}

.equipment-slot {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slot-background, lighten($secondary-bg-color, 10%));
  background: url("../../assets/Background.png") no-repeat center center;
  border: 1px solid $detail-border-color;
  border-radius: $border-radius;
  color: var(--slot-color, white);
  opacity: var(--slot-opacity, 1);
  font-size: 0.8em;
  text-align: center;
}

.head-slot {
  top: 25px;
  left: 117px;
}
.amulet-slot {
  top: 85px;
  left: 117px;
}
.body-slot {
  top: 145px;
  left: 117px;
}
.left-arm-slot {
  top: 145px;
  left: 57px;
}
.right-arm-slot {
  top: 145px;
  left: 177px;
}
.left-ring-slot {
  top: 235px;
  left: 40px;
}
.right-ring-slot {
  top: 235px;
  left: 200px;
}
.left-weapon-slot {
  top: 295px;
  left: 30px;
}
.right-weapon-slot {
  top: 295px;
  left: 210px;
}
.belt-slot {
  top: 235px;
  left: 117px;
}
.left-leg-slot {
  top: 330px;
  left: 90px;
}
.right-leg-slot {
  top: 330px;
  left: 150px;
}
.left-foot-slot {
  top: 450px;
  left: 90px;
}
.right-foot-slot {
  top: 450px;
  left: 150px;
}

.tool-area {
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  padding: $padding;
}

.tool-grid {
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: $padding;
  gap: 10px;
}

.tool-slot {
  height: 135px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slot-background, lighten($secondary-bg-color, 10%));
  border: 1px solid $detail-border-color;
  border-radius: $border-radius;
  color: var(--slot-color, white);
  opacity: var(--slot-opacity, 1);
  font-size: 0.8em;
  text-align: center;
}
