$inventory-bg-color: #283149;
$button-bg-color: #333366;
$button-hover-bg-color: #555599;
$border-color: #404b69;
$button-border-color: #555599;
$error-color: #8b1b1b;
$text-color: white;
$text-shadow-color: #000;
$margin-bottom: 8px;
$padding: 5px;

.inventory-container {
  color: white;
  text-shadow: 1px 1px #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #283149;
  border: 1px solid #404b69;
  width: 600px;
  height: 623px;
}

.category-filter {
  margin-bottom: $margin-bottom;
  width: 100%;
}

.button-shared-styles {
  background: $button-bg-color;
  border: 1px solid $button-border-color;
  color: $text-color;
  font: 1em MS Gothic;
  padding: $padding $padding;
  width: 85px;
  &:hover {
    background: $button-hover-bg-color;
  }
}

.category-button,
.sort-button {
  @extend .button-shared-styles;
}

.category-button.active {
  background-color: lighten(#555599, 5%); // Active background color
  border: 1px solid $button-border-color;
}

.inventory-list {
  color: $text-color;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  padding: $padding;
  height: 518px;
  max-height: 560px;
  scrollbar-width: thin; /* makes the scrollbar thinner */
}

.inventory-label {
  width: 430px;
}

.item {
  border-bottom: 1px solid $button-border-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1px 0;

  &:hover {
    background: $button-bg-color;

    .delete-button {
      opacity: 1; // Fully opaque to make it visible
      visibility: visible;
    }
  }
}

.delete-button {
  background: $error-color;
  opacity: 0; // Use opacity for a fade-in effect if desired
  transition: opacity 0.3s; // Smooth transition for opacity change
  visibility: hidden;
  height: "20px";
  width: "20px";
  font-size: ".5em";
  &:hover {
    background: darken($error-color, 10%);
  }
}

.delete-button-container {
  margin-left: 50px;
}

.sort-buttons {
  margin-top: 10px;
  width: 100%; // Ensures it spans the full width
}

.item-type-label {
  &.item-type-WPN {
    color: #f44336;
  } // Red for weapons
  &.item-type-EQP {
    color: #2196f3;
  } // Blue for equipment
  &.item-type-TOOL {
    color: #ffc107;
  } // Green for tools
  &.item-type-USE {
    color: #4caf50;
  } // Amber for usable items
  &.item-type-CMBT {
    color: #9c27b0;
  } // Purple for combat items
  &.item-type-ETC {
    color: #607d8b;
  } // Blue Grey for miscellaneous items
}

#item-tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  width: 550px;
}

#item-tooltip hr {
  padding: 0px;
}

.item-tooltip-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; // This centers the children vertically
}

.item-tooltip-split span {
  padding: 0px;
}

.item-tooltip-split span:nth-child(2) {
  justify-self: end;
}

.item-tooltip-details {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
