#footer {
  display: flex;
  background-image: linear-gradient(to right, #2c3e61, #000000);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Add more styling here */
}

.footer_button {
  width: fit-content;
  padding: 10px 10px;
  margin: 100;
  background-color: #0f143b;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #32456c;
}
