$primary-bg-color: #283149;
$secondary-bg-color: #3c415e;
$border-color: #404b69;
$detail-border-color: #002244;
$hover-border-color: white;
$border-radius: 5px;
$margin-bottom: 8px;
$padding: 5px;
$gap: 5px;

.display-container {
  background-color: $primary-bg-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 10px; // Container margin, matching main
  padding: 10px;
  text-shadow: 1.5px 1px #000;
  width: 756px;
  height: 1237px;
}

.display-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: lighten($secondary-bg-color, 10%);
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  height: 55px;
  align-items: center; // This centers the children vertically
}

.display-header p {
  margin: 15px;
}

.display-header p:nth-child(2) {
  justify-self: end;
}

.display-img {
  position: relative;
  height: 660px; // Set a fixed height or adjust as necessary
  overflow: hidden; // This ensures nothing spills outside
  margin-bottom: 10px;
}

img {
  width: 100%; // Ensure the image covers the whole container width
  height: 100%; // Cover the whole container height
  object-fit: cover; // This resizes the image to cover the area, useful if aspect ratios vary
}

.display-text {
  position: absolute;
  height: 200px; // Ensure this height still makes sense with the new image size
  bottom: 0px; // Adjust this as needed to fit the new image size
  left: 0;
  right: 0;
  background-color: rgba(60, 65, 94, 0.9); // Semi-transparent background
  padding: 10px;
  border-radius: $border-radius;
  text-align: center;
}

.display-text p {
  margin: 5px;
}

.display-actions {
  display: flex;
  flex-direction: column;
}

.display-action {
  padding: 10px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.display-action:hover {
  background-color: #333366;
}

.display-action:not(:last-child) {
  border-bottom: 1px solid #555;
}

.tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  background-color: rgba(0, 0, 0, 1) !important; // Darker background
  color: white !important;

  &[data-tooltip-content] {
    opacity: 1 !important; // Ensure full opacity
  }
}

.location-tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  transform: translate(-25%, 0%);
  max-width: 400px;
  background-color: rgba(0, 0, 0, 1) !important; // Darker background
  color: white !important;

  &[data-tooltip-content] {
    opacity: 1 !important; // Ensure full opacity
  }
}

.activity-tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  max-width: 400px;
  background-color: rgba(0, 0, 0, 1) !important; // Darker background
  color: white !important;

  &[data-tooltip-content] {
    opacity: 1 !important; // Ensure full opacity
  }
}

.branchActivity-tooltip {
  z-index: 1000; // Ensure this is higher than any other element within the same stacking context
  position: absolute; // This makes sure it's placed relative to the nearest positioned ancestor (which has a relative position)
  max-width: 400px;
  background-color: rgba(0, 0, 0, 1) !important; // Darker background
  color: white !important;

  &[data-tooltip-content] {
    opacity: 1 !important; // Ensure full opacity
  }
}
