$primary-bg-color: #283149;
$secondary-bg-color: #3c415e;
$border-color: #404b69;
$detail-border-color: #002244;
$hover-border-color: white;
$border-radius: 5px;
$margin-bottom: 8px;
$padding: 5px;
$gap: 5px;

.message-container {
  background-color: $primary-bg-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 10px; // Container margin, matching main
  padding: 10px;
  text-shadow: 1.5px 1px #000;
  width: 600px;
  height: 1242px;
}

.message-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: lighten($secondary-bg-color, 10%);
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  height: 55px;
  align-items: center; // This centers the children vertically
}

.message-header p {
  margin: 15px;
}

.message-header p:nth-child(2) {
  justify-self: end;
}

.message-img {
  max-height: 400px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

.message-text {
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  padding: 0px 10px 0px 10px;
  margin: 0px;
  border-radius: $border-radius;
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin; /* makes the scrollbar thinner */
  display: flex; /* Changed from inline-block to flex */
  justify-content: center; /* Horizontally centers content (if needed) */
  align-items: center; /* Vertically centers the text */
}

.message-text p {
  margin: 5px;
}

.message-actions {
  display: flex;
  flex-direction: column;
}

.message-action {
  padding: 10px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.message-action:hover {
  background-color: #333;
}

.message-action:not(:last-child) {
  border-bottom: 1px solid #555;
}
