$primary-bg-color: #283149;
$secondary-bg-color: #3c415e;
$border-color: #404b69;
$detail-border-color: #002244;
$hover-border-color: white;
$border-radius: 5px;
$margin-bottom: 8px;
$padding: 5px;
$gap: 5px;

.message-container {
  background-color: $primary-bg-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 10px; // Container margin, matching main
  padding: 10px;
  text-shadow: 1.5px 1px #000;
  width: 600px;
  height: 1242px;
}

.message-header {
  display: grid;
  background: lighten($secondary-bg-color, 10%);
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  height: 55px;
  align-items: center; // This centers the children vertically
  text-align: center;
}

.message-header p {
  margin: 15px;
}

.message-body {
  position: relative; // This establishes a new stacking context
  z-index: 1; // You might adjust this based on other elements in your layout
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin-bottom: $margin-bottom;
  padding: $padding;
}

.message-body p {
  margin: 0;
  border-bottom: #000 1px solid;
}
